article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0;font-size:13px;line-height:1.231}body,button,input,select,textarea{font-family:sans-serif;color:#222}::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none}::selection{background:#fe57a1;color:#fff;text-shadow:none}a{color:#00e}a:visited{color:#551a8b}a:hover{color:#06e}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em
40px}dfn{font-style:italic}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em
0;padding:0}ins{background:#ff9;color:#000;text-decoration:none}mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:"";content:none}small{font-size:85%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top: -0.5em}sub{bottom: -0.25em}ul,ol{margin:1em
0;padding:0
0 0 40px}dd{margin:0
0 0 40px}nav ul, nav
ol{list-style:none;list-style-image:none;margin:0;padding:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:0;margin:0;padding:0}label{cursor:pointer}legend{border:0;*margin-left: -7px;padding:0}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}table button, table
input{*overflow:auto}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top;resize:vertical}input:valid,textarea:valid{}input:invalid,textarea:invalid{background-color:#f0dddd}table{border-collapse:collapse;border-spacing:0}td{vertical-align:top}.ir{display:block;border:0;text-indent: -999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr}.ir
br{display:none}.hidden{display:none !important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin: -1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}@media only screen and (min-width: 480px){}@media only screen and (min-width: 768px){}@media
print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px
solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}body{background:#F9FFF9}p{margin:0;padding:0
0 10px}a{text-decoration:none}.structure{width:960px;overflow:hidden;margin:auto}.atom{overflow:hidden;padding:10px
10px 0 10px;margin:0
0 14px 0}#logo,#site-nav,.atom,.comments{font-family:'PT Sans'}#logo{font-size:20px;line-height:50px;color:#fff;float:left;display:inline;cursor:pointer;text-decoration:none}#site-header{width:100%;height:50px;background:#3B3B3B url('../../central/gradient-header.png') repeat-x}#site-main{overflow:hidden}#site-header
.structure{position:relative}#site-nav{position:absolute;display:block;bottom:0;right:14px}#site-nav
.selected{background:#F9FFF9;color:#000}#site-nav .unselected:hover{background-color:#444}#site-nav
a{font-size:14px;color:#fff;display:block;float:left;text-decoration:none;margin:0
0 0 10px;padding:10px}#site-footer{width:100%;height:50px;background:#3B3B3B;position:relative}html,body{height:100%;margin:0;padding:0}#site-container,#blog,#portfolio-index,#portfolio-single{min-height:100%;position:relative}#site-main{padding-bottom:50px}#site-footer{position:absolute;bottom:0;left:0;color:#fff;font-size:10px}#site-footer
.structure{padding:0
14px;padding:10px;text-align:right}#site-footer
a{color:#fff}.attachment-center{display:block;margin-left:auto;margin-right:auto}.alignleft{float:left;margin:0
10px 0px 0}.alignright{float:right;margin:0
0 0px 10px}#javascript-message{display:none;background:#CD5B45;border-bottom:3px solid #fff;color:#fff;height:30px;width:100%;text-align:center;line-height:30px;font-weight:bold}#local-message{background:#C50;border-bottom:3px solid #fff;color:#fff;height:30px;width:100%;text-align:center;line-height:30px;font-weight:bold}#javascript-message a:link,#javascript-message a:active,#javascript-message a:visited{color:#444}#javascript-message a:hover{color:#000}#sidebar-inner{width:238px}#sidebar{width:238px}.dark{background:#383838;color:#fff}.light{background:#E8E8E8;color:#444}.internal{border-right:solid 5px #CD5B45}.internal
strong{color:#CD5B45}.internal
a{color:#CD5B45;font-weight:700}.internal a:hover{color:#D36E5A;font-weight:700}.internal-direct{color:#CD5B45 !important;font-weight:700}.blog{border-right:solid 5px #2991E0}.blog
a{color:#2991E0;font-weight:700}.blog a:hover{color:#3F9CE4;font-weight:700}.resume{border-right:solid 5px #967117}.resume
a{color:#967117;font-weight:700}.resume a:hover{color:#AC831B;font-weight:700}.portfolio-academic{border-right:solid 5px #45BDCD}.portfolio-academic
a{color:#45BDCD;font-weight:700}.portfolio-academic a:hover{color:#34B5C5;font-weight:700}.portfolio-direct-academic{color:#45BDCD !important;font-weight:700}.portfolio-direct-academic:hover{color:#34B5C5 !important;font-weight:700}.portfolio-client{border-right:solid 5px #C90}.portfolio-client
a{color:#C90;font-weight:700}.portfolio-client a:hover{color:#E6AC00;font-weight:700}.portfolio-direct-client{color:#C90 !important;font-weight:700}.portfolio-direct-client:hover{color:#E6AC00 !important;font-weight:700}.portfolio-labs{border-right:solid 5px #37D268}.portfolio-labs
a{color:#37D268;font-weight:700}.portfolio-labs a:hover{color:#4CD678;font-weight:700}.portfolio-direct-labs{color:#37D268 !important;font-weight:700}.portfolio-direct-labs:hover{color:#4CD678 !important;font-weight:700}.dailybooth{border-right:solid 5px #B49DA1}.dailybooth
a{color:#B49DA1;font-weight:700}.dailybooth a:hover{color:#BFABAF;font-weight:700}.twitter{border-right:solid 5px #3CBBDC}.twitter
a{color:#3CBBDC;font-weight:700}.twitter a:hover{color:#52C4E0;font-weight:700}.delicious{border-right:solid 5px #3274D0}.delicious
a{color:#3274D0;font-weight:700}.delicious a:hover{color:#4883D5;font-weight:700}.stackoverflow{border-right:solid 5px #F90}.stackoverflow
a{color:#F90;font-weight:700}.stackoverflow a:hover{color:#FFA31A;font-weight:700}.youtube{border-right:solid 5px #F33}.youtube
a{color:#F33;font-weight:700}.youtube a:hover{color:#FF4D4D;font-weight:700}#activity{min-height:100%;position:relative}#activity #site-header
.structure{width:980px;padding:0
14px;visibility:hidden}#activity #site-main
.structure{width:1008px;padding:7px;visibility:hidden}#activity #site-footer
.structure{width:980px}#activity
.atom{width:233px;float:left;display:inline;background:#383838;color:#fff;margin:7px;padding:0}#activity .atom
p{padding:0
10px;margin:10px
0}#activity
.metadata{overflow:hidden;padding:0
10px 10px}#activity
.permalink{float:left}#activity
.date{float:right}#portfolio-index #site-header
.structure{width:994px;padding:0
14px;visibility:hidden}#portfolio-index #site-main
.structure{width:1022px;padding:14px
0;visibility:hidden}#portfolio-index #site-footer
.structure{width:994px}#portfolio-index
#sidebar{width:238px;float:left;display:inline;margin-left:14px}#portfolio-index
#content{width:770px;float:left;display:inline}#portfolio-index
#posts{overflow:hidden;padding:0
7px}#portfolio-index #posts
.atom{padding:0;width:233px;float:left;display:inline;margin:0
7px 14px 7px;visibility:hidden}#portfolio-index #posts
.text{padding:10px}#portfolio-index #posts
.title{padding:0
0 10px 0;margin:0}#portfolio-index #posts
.bottom{font-size:11px;overflow:hidden}#portfolio-index #posts
.taxonomies{float:left;width:170px}#portfolio-index #posts
.date{float:right;width:30px}#portfolio-index #posts .featured-image
a{display:block}#portfolio-index #posts-nav-cont{width:100%}#portfolio-index #posts-nav{overflow:hidden;padding:10px;margin:0
14px 0 14px}#portfolio-index #posts-nav
.next{float:left}#portfolio-index #posts-nav
.prev{float:right}#portfolio-single #site-header
.structure{width:1164px;padding:0
14px;visibility:hidden}#portfolio-single #site-main
.structure{width:1180px;padding:14px
7px;position:relative;visibility:hidden}#portfolio-single  #site-footer
.structure{width:1164px}#portfolio-single .float-left{float:left;display:inline}#portfolio-single .float-right{float:right;display:inline}#portfolio-single
#sidebar{width:238px;margin:0
7px}#portfolio-single
#images{width:450px;margin:0
7px}#portfolio-single
#text{width:425px;margin:0
7px 14px 7px}#portfolio-single #text
.title{padding:0
0 10px 0;margin:0}#portfolio-single #text
.footer{font-size:11px;padding:0
0 10px 0;overflow:hidden}#portfolio-single #text
.taxonomies{float:left;width:370px}#portfolio-single #text
.date{float:right;width:55px;text-align:right}#portfolio-single #text .button-container{text-align:right;margin:0
0 10px 0}#portfolio-single #text-holder{overflow:hidden}.fixed{position:fixed;top:14px}#portfolio-single #text
.button{-moz-box-shadow:inset 0 1px 0 0 #caefab;-webkit-box-shadow:inset 0 1px 0 0 #caefab;box-shadow:inset 0 1px 0 0 #caefab;background-color:#77d42a;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px
solid #268a16;display:inline-block;color:#306108 !important;font-family:arial;font-size:12px;font-weight:700;text-decoration:none;text-shadow:1px 1px 0 #aade7c;padding:6px
24px}#portfolio-single #text .button:hover{background-color:#5cb811}#portfolio-single #text .button:active{position:relative;top:1px}#sidebar
h4{padding:0
0 5px 0;margin:0}#sidebar-types{padding:10px}#sidebar-types
a{display:block;background:#444;margin:5px
0;padding:5px}#sidebar-types a:hover{background:#525252}#sidebar-posts{padding:10px}#sidebar-posts
ul{margin:0;list-style:none}#sidebar-posts
a{display:block;background:#444;margin:5px
0;padding:5px}#sidebar-posts a:hover{background:#525252}#sidebar-topics{padding:10px
10px 5px 10px}#sidebar-topics
a{display:block;padding:2px
5px;margin-bottom:5px;background:#444}#sidebar-topics a:hover{background:#525252}#sidebar-topics
.columns{width:104px;float:left;padding:3px
0}#sidebar-topics
.left{margin-right:5px}#sidebar-topics
.right{margin-right:0px}#sidebar-topics .columns
a{display:block}#sidebar-search{padding:10px}#sidebar-newsletter{padding:10px}#sidebar
.text{border:none;padding:5px;margin:0
5px 0 0;font-family:'PT Sans';width:100%;width:146px}#sidebar
.submit{border:none;padding:5px;font-family:'PT Sans';width:49px;text-align:center;background:#CD5B45;color:#000;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}#sidebar-newsletter
.text{width:145px}#show-sidebar{-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;cursor:pointer;background:#383838;color:#fff;position:absolute;top:64px;display:none;padding:3px
6px 3px 3px}#hide-sidebar{font-weight:700;cursor:pointer;color:#CD5B45}#sidebar
.activity{width:233px;float:left;display:inline;background:#383838;color:#fff;padding:0}#sidebar .activity
p{padding:0
10px;margin:10px
0}#sidebar .activity
.metadata{overflow:hidden;padding:0
10px 10px}#sidebar .activity
.permalink{float:left}#sidebar .activity
.date{float:right}#sidebar .gsc-search-box,#sidebar .cse-search-form{padding:0
!important;margin:0
!important}#sidebar .gsc-clear-button{display:none !important}#sidebar .gsc-input
input{padding:5px;border:none !important;font-family:'PT Sans';width:148px !important;margin:0
!important}#sidebar .gsc-search-button
input{border:none;padding:5px;background:#CD5B45;color:#000;font-family:'PT Sans'!important;text-shadow:none !important;font-weight:400 !important;font-size:13px !important;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}#sidebar .gsc-branding{display:none !important}#sidebar-pnode{width:238px;float:left;display:inline;margin:0
0 0 14px}#sidebar-pnode
.atom{padding:0;width:233px;float:left;display:inline;margin:0
0 14px 0}#sidebar-pnode
.text{padding:10px}#sidebar-pnode
.title{padding:0
0 10px 0;margin:0}#sidebar-pnode
.bottom{font-size:11px;overflow:hidden}#sidebar-pnode
.taxonomies{float:left;width:170px}#sidebar-pnode
.date{float:right;width:30px}#sidebar-pnode .featured-image
a{display:block}#blog #site-header
.structure{width:1029px;padding:0
14px;visibility:hidden}#blog #site-main
.structure{width:1029px;padding:14px;visibility:hidden}#blog #site-footer
.structure{width:1029px;padding:10px
14px;visibility:hidden}#blog
#sidebar{width:238px;float:left;display:inline}#blog
#posts{width:525px;float:left;display:inline;margin:0
0 0 14px}#blog #posts
.atom{margin:0
0 14px 0}#blog #posts
.title{padding:0
0 10px 0;margin:0}#blog #posts
.footer{font-size:11px;padding:0
0 10px 0;overflow:hidden}#blog #posts
.tax{float:left;width:415px}#blog #posts
.date{float:right;width:85px;text-align:right}#blog
.comments{margin:0
0 14px 0;padding:10px
20px 10px 10px;overflow:hidden}#blog .comments .form-allowed-tags{display:none}#blog .comments
#submit{border:none;display:block;float:right;padding:10px
15px 10px 15px;background:#2991E0;font-weight:bold;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}#blog .comments #submit:hover{background:#3F9CE4}#blog .comments
#comment{display:block;padding:5px;height:90px;width:100%}#blog .comments form
textarea{margin:5px
0 0 0;border:1px
solid #ccc}#blog .comments form
input{display:block;margin:5px
0 10px 0;padding:5px;border:1px
solid #ccc}#blog .comments
.avatar{display:none}#blog .comments
li{list-style:none}#blog .comments
ol{list-style:none;margin:0;padding:0}#blog .comments
ul{list-style:none;margin:0
0 10px 10px;padding:0}#blog .comments .comment-body{padding:0
0 10px 0}#blog #dsq-global-toolbar{margin:0
!important}#blog
#disqus_thread{margin:0
!important}#blog #dsq-footer{margin:5px
0 5px !important}#blog .dsq-global-toolbar-left{margin:0
!important}#blog .dsq-global-toolbar-right{margin:0
!important}#blog .dsq-reply{margin:5px
0 0 0 !important}#resume{min-height:100%;position:relative}#resume #site-header
.structure{width:1029px;padding:0
14px;visibility:hidden}#resume #site-main
.structure{width:1029px;padding:14px;visibility:hidden}#resume #site-footer
.structure{width:1029px;padding:10px
14px;visibility:hidden}#resume
#sidebar{width:238px;float:left;display:inline}#resume
#posts{width:525px;float:left;display:inline;margin:0
0 0 14px}#resume #posts
.atom{margin:0
0 14px 0}#resume #posts
.title{padding:0
0 10px 0;margin:0}#resume #posts
.footer{font-size:11px;padding:0
0 10px 0;overflow:hidden}#resume #posts
.tax{float:left;width:500px}#resume #posts
.date{float:right}#resume #posts
ul{margin:0;padding-top:0;padding-bottom:10px}#resume #posts
li{padding:0
0 5px 0 }#resume #posts
h3{margin:0;padding:0
0 10px 0;color:#967117}#resume #posts
.rail{overflow:hidden;margin:0
0 5px 0 }#resume #posts
.name{float:left}#resume #posts
.time{float:right;padding:0
5px 0 0;color:#999}@media
print{#resume #site-nav{visibility:hidden}#resume
#sidebar{visibility:hidden}}#about{min-height:100%;position:relative}#about #site-header
.structure{width:1029px;padding:0
14px;visibility:hidden}#about #site-main
.structure{width:1029px;padding:14px;visibility:hidden}#about #site-footer
.structure{width:1029px;padding:10px
14px;visibility:hidden}#about
#sidebar{width:238px;float:left;display:inline}#about
#posts{width:525px;float:left;display:inline;margin:0
0 0 14px}#about #posts
.atom{margin:0
0 14px 0}#about #posts
.title{padding:0
0 10px 0;margin:0;color:#CD5B45;font-size:20px}#about #posts
.footer{font-size:11px;padding:0
0 10px 0;overflow:hidden}#about #posts
.tax{float:left;width:500px}#about #posts
.date{float:right}#about
.contact{padding:10px
20px 10px 10px;overflow:hidden}#about .contact form
input{margin:5px
0 10px 0;border:none}#about .contact form
textarea{margin:5px
0 0 0;border:none}#about .contact
.title{margin:0
0 10px 0}#about .contact
#name{display:block;padding:5px}#about .contact
#email{display:block;padding:5px}#about .contact
#message{display:block;padding:5px;height:90px;width:100%}#about .contact
#submit{display:block;margin:15px
0 0 0;float:right;padding:10px
15px 10px 15px;background:#CD5B45;font-weight:bold;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}#about .contact #submit:hover{background:#D16752}#error #site-header
.structure{width:830px}#error #site-main
.structure{width:830px}#error #site-footer
.structure{width:830px}#error{min-height:100%;position:relative}#error
.number{text-align:center;font-size:190px;font-weight:bold;color:#444;line-height:190px}#error
.word{text-align:center;font-size:86px;font-weight:bold;color:#444;line-height:86px}#error
.msg{text-align:center;width:300px;margin:auto}#error
.search{width:300px;margin:auto}#error .gsc-input
input{font-family:'PT Sans';width:225px !important}#error .gsc-search-button
input{border:none;padding:5px
10px 5px 10px;background:#444;font-family:'PT Sans'!important;text-shadow:none !important;font-weight:400 !important;font-size:13px !important}#error .gsc-clear-button{display:none !important}#search{min-height:100%;position:relative}#search #site-header
.structure{width:868px;padding:0
14px}#search #site-main
.structure{width:868px;padding:14px}#search #site-footer
.structure{width:854px}#search
#sidebar{width:238px;float:left;display:inline}#search
#posts{width:630px;float:left;display:inline}#search #posts
.atom{margin:0
0 14px 14px}#search #posts
.title{padding:0
0 10px 0;margin:0}#search #posts
.footer{font-size:11px;padding:0
0 10px 0;overflow:hidden}#search #posts
.tax{float:left;width:500px}#search #posts
.date{float:right}#search #posts
ul{margin:0;padding-top:0;padding-bottom:10px}#search #posts
li{padding:0
0 5px 0 }#search #posts
h3{margin:0;padding:0
0 10px 0;color:#967117}#search #posts
.rail{overflow:hidden;margin:0
0 5px 0 }#search #posts
.name{float:left}#search #posts
.time{float:right;padding:0
5px 0 0;color:#999}#search .gsc-control-cse{background:transparent !important;border:none !important}
/* Localized */